.projects-container {
    display: flex;
    flex-direction: column;
    padding: 5% 10%;
    text-align: left;
}
  
.projects-container .projects-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
}
  
.projects-container .projects-grid .project {
  background: linear-gradient(90deg,rgba(216, 173, 237, 1) 0%, rgba(162, 24, 237, 1) 50%, rgba(56, 4, 87, 1) 100%);
  background-size: 200% 100%;
  background-position: 0% 50%;
  padding: 20px;
  text-align: left;
  border-radius: 20px;
  transition: background-position 0.5s ease;
}
  
.projects-container .projects-grid .project:hover {
  background-position: 100% 50%;
}

.project h2:hover {
    text-decoration: underline;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}
  
.zoom {
    border-radius: 5px;
    transition: transform .2s;
    margin: 0 auto;
}
  
.zoom:hover {
    transform: scale(1.05);
}

@media screen {
    @media (max-width: 700px) {
        .projects-container {
            display: block;
            padding-left: 5%;
            padding-right: 5%;
        }
  
        .projects-container .projects-grid {
            display: block;
        }
      
        .projects-container .projects-grid .project {
            padding-bottom: 5%;
        }
    }
}
